<!--
    Input:
        height(cm),weight(kg)
    output:
        bmi
    需要呈現出標題並將其列為紅色18號字體
    以一條虛線線作區隔
    必須呈現輸入提示
    為14號字粗體
    結果呈現已藍色18號字呈現
    內文為14號字體
-->
<html>
    <head>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <style type:"text/css">
            .title{
                color:red;
                font-size: 18 px;
            }
            .line{
                color:blue;
                width: 400px;
                border: none;
                border-top: 1px dashed;
            }
            .context{
                color:cadetblue;
                font-size:14 px;
            }
            .result{
                color: blue;
                font-size:18px;
            }
        </style>
    </head>
    <body>
        <div class="title">
            BMI計算
        </div>
        <br>
        <div class="line"></div>
        <div id="myApp">
            <div class="context">體重(kg):{{weight}}</div>
           <p><input v-model="weight"></p> 
           <div class="context">身高(m):{{height}}</div>
           <p><input v-model="height"></p> 
           <div class="line"></div>
            <div class = "result">結果:<p>{{ bmi }}</p></div>
            <button @click="btnClick(weight,height)">確認</button>
        </div>

    
        <script>
                    var myApp=new Vue({
                        el:"#myApp"
                        ,
                        data:{
                                weight:0,
                                height:0,
                                bmi:0
                        },
                        methods:{
                            btnClick:function(weight,height){
                                this.weight=weight;
                                this.height=height;
                                this.bmi=(weight)/((height*0.01)*(height*0.01));
                                return this.bmi;
                            }
                        }
                    });

        </script>
    </body>
</html>